.separator {
  width: 100%;
  max-width: 1440px;
  margin: 5rem auto 4rem auto;
  text-align: center;
}

@media (max-width: 1500px) {
  .separator {
    max-width: calc(100% - 2rem);
    margin: 4rem auto 3rem auto;
  }
}

@media (max-width: 768px) {
  .separator {
    max-width: calc(100% - 2rem);
    margin: 2rem auto 2rem auto;
  }
}