
.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  color: var(--text-color);
  height: 104px;
  width: 100%;
  background: var(--bg-color);
  border-bottom: 3px solid var(--section-color);

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    position: relative;
    z-index: 10;
    padding: 1rem;
  }

  &__image {
    position: absolute;
    width: 160%;
    transform: translateY(-30%);
    left: -4.7rem;
  }

  &__logo {
    &_title {
      position: relative;
      font-family: serif;
      letter-spacing: 0.15rem;
      word-spacing: 0.75rem;
      white-space: nowrap;
    }
    &_description {
      position: relative;
      letter-spacing: 0.2rem;
      word-spacing: 0.5rem;
    }
  }

  &__hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 25px;
    height: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  &__hamburger span {
    height: 3px;
    width: 100%;
    background: var(--text-color);
    border-radius: 5px;
    transition: transform 0.3s ease;
  }

  &__hamburger:hover span {
    background: var(--hover-color);
    transform: scale(1.04);
  }

  &__hamburger:active span {
    background: var(--hover-color);
    transform: scale(0.97);
  }

  &__links {
    display: flex;
    flex-direction: row;
    list-style: none;
    z-index: 10;
  }

  &__links.active {
    display: flex;
    background-color: var(--bg-color);
  }

  &__links button {
    text-decoration: none;
    background-color: transparent;
    border: none;
  }

  &__links p {
    color: var(--text-color);
    transition: transform 0.3s ease;
    margin: 0 0.5rem;
    padding: 0 0.5rem;
    border-bottom: 0.15rem solid transparent;

    &:hover {
      color: var(--text-color);
      border-bottom: 0.15rem solid var(--hover-color);
      transform: scale(1.04);
    }

    &:active {
      transform: scale(0.97);
    }
  }
}

.navbar__hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.navbar__hamburger.open span:nth-child(2) {
  opacity: 0;
}

.navbar__hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}


@media (max-width: 1200px) {
  .navbar {
    &__container {
      width: 100%;
    }

    &__hamburger {
      display: flex;
      z-index: 10;
    }

    &__hamburger:hover span {
      background: var(--hover-color);
    }
    &__links {
      z-index: 9;
      position: absolute;
      top: 104px;
      right: 0;
      flex-direction: column;
      align-items: flex-start;
      background: white;
      width: 100%;
      height: calc(100vh - 104px);
      padding: 1rem;
      gap: 1rem;
      border-left: 1px solid #eee;
      box-shadow: -2px 0 5px rgba(0,0,0,0.05);
      transform: translateX(120%);
      box-sizing: border-box;
      transition: transform 1s ease;
    }

    &__links.active {
      transform: translateY(0);
    }

    &__links li {
      width: 100%;
      text-align: center;
    }

    &__links p {
      display: block;
      width: fit-content;
      margin: 0 auto;
      padding: 0.5rem 1rem;

      &:hover {
        border-bottom: 0.15rem solid var(--hover-color);
      }
    }
  }
}