.whatsapp-widget {
  z-index: 9;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  cursor: pointer;
  bottom: 2.5rem;
  right: 2.5rem;
  color: var(--text-color);
  transition: transform 0.2s ease;
  animation: pulse 2.5s linear infinite;

  &:hover {
    transform: scale(1.04);
    color: var(--hover-color-dark);
  }

  &:active {
    animation-play-state: paused;
    color: var(--hover-color-dark);
    transform: scale(0.97);
  }

  &__text {
    display: none;
    text-decoration: none;
    border-bottom: 0;
    background-color: var(--bg-color);
    padding: 0.5rem;
    transition: transform 0.2s ease;

    &:hover {
      display: block;
      transform: translateY(-300);
      color: var(--hover-color-dark);
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.7);
    opacity: 0.9;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0.7;
  }
}