
#root {
  --text-color: #4A3F46;
  --text-additional-color: #826D7A;

  --bg-color: #FAF8F6;
  --section-color: #CDB4DB;
  --section-color-viola: #e7e2f4;
  --section-color-pink: #F2E6E8;
  //--hover-color: #FFCAD4;
  --hover-color: #E17F92;
  --spacing-gutter: 1.5rem;
}

@media (max-width: 820px) {
  :root {
    --spacing-gutter: 0.75rem;
  }
}

@media (max-width: 480px) {
  :root {
    --spacing-gutter: 0.5rem;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: auto;
  background-color: var(--bg-color);
}

html {
  font-family: "Montserrat", "Roboto", sans-serif;
  font-size: 16px; /* базовый размер */
}

body {
  font-size: 1rem; /* 16px */
}

.brush {
  width: 100%;
  transform-origin: right top;
  transform: translateY( 100%) rotate(90deg);
  margin-top: 100%;
  &__container {
    z-index: -1;
    position: absolute;
    right: 0;
    transform:  translateY(-100%);
    filter: hue-rotate(300deg) opacity(50%);
  }
}

@media (max-width: 700px) {
  .brush {
    &__container {
    }
  }
}


.scroll-animate {
  transition: transform 0.5s;
  transform: translateY(0px);
}

.hide-top {
  transform: translateY(-70px);
}

.hide-bottom {
  transform: translateY(70px);
}

.stop-scroll-animate {
  transform: translateY(0px);
}
